@charset "utf-8";

html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 24px;
    box-sizing: border-box;
    background: #333333;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 24px;
    box-sizing: border-box;
    color: #BBBBBB;
    background: #222222;
}

hgroup
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

hgroup *
{
    color: #CCCCCC;
    font-weight: 400;
}
