@charset "utf-8";

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
}

body
{
    display: table;
}

header
{
    display: table-row;
    width: 100%;
    height: 50px;
    background: #444444;
    overflow: hidden;
    color: #AAAAAA;
}

header b
{
    display: table-cell;
    width: 56px;
    border-bottom: 2px double #555555;
    background-color: #333333;
    color: #CCCCCC;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.5s;
}

header b:hover
{
    background-color: #222222;
}

header div
{
    display: table-cell;
}

header div div
{
    display: table;
    width: 100%;
    height: 100%;
}

header hgroup
{
    display: table-cell;
    border: 1pt solid #888888;
    border-top: none;
    border-bottom: 2px double #555555;
}

header hgroup *
{
    display: inline;
    padding: 0px 6px;
    font-weight: 400;
}

header a
{
    display: table-cell;
    width: 48px;
    border-bottom: 2px double #555555;
    background-color: #555555;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.5s;
}

header img
{
    display: block;
    width: 48px;
    height: 48px;
}

header a:hover
{
    background-color: #444444;
}

a, a:link, a:visited, a:active
{
    text-decoration: none;
}

article
{
    display: table-row;
    pointer-events: none;
}

nav
{
    display: table-cell;
    width: 48px;
    height: 100%;
    background-color: #444444;
    pointer-events: auto;
    transition: width 1s, background-color 2s;
}

nav a
{
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    transition: width 1s, background-color 1s;
}

nav a::after
{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 4px;
    background-color: #222222;
    transition: background-color 2s;
    content: "";
}

nav a.active::after, nav a.active:hover::after
{
    background-color: #88FF44;
    transition: background-color 0.5s;
}

nav a:hover::after
{
    background-color: #8800BB;
    transition: background-color 0s;
}

nav a img
{
    width: 48px;
    height: 48px;
}

nav a b
{
    color: #DDDDDD;
    font-size: 18px;
    vertical-align: top;
    opacity: 0;
    transition: opacity 0.5s;
}

.details section nav, .details nav
{
    width: 240px;
    background-color: #333333;
}

.details section nav a, .details nav a
{
    width: 240px;
}

.details section nav a b, .details nav a b
{
    display: inline;
    opacity: 1;
}

.details header b
{
    background-color: #222222;
}

.details header b:hover
{
    background-color: #000000;
}

nav a:hover
{
    background-color: #666666;
    transition: background-color 0.5s;
}

section
{
    position: relative;
    display: table-cell;
}

iframe
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    pointer-events: auto;
}

body > div
{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 8px;
    transition: background-color 0.5s;
}

body > div:hover
{
    background-color: #FFFFFF88;
    transition: background-color 5s;
}
